body {
  // font-family: 'Source Sans Pro', sans-serif;
  // font-family: 'Merienda', cursive;
  // font-family: 'Yanone Kaffeesatz', sans-serif;
  // font-family: hp;
  font-family: 'Archivo Narrow', sans-serif;
  font-weight: 400px;
  line-height: 1.7;
}

@font-face {
  font-family: hp;
  src: url("../ParryHotter.ttf");
}