//COLORS
// $color-primary: #087CA7;
$color-primary: #541BA1;
$color-primary-alt: #235789;
// $color-primary-light: #05B2DC;
$color-primary-light: #693AA8;
$color-primary-dark: #094074;
// $color-secondary: #D00000;
$color-secondary: #ED9415;
$color-secondary-dark: rgb(216, 115, 20);


//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-sm: 6rem;
$gutter-horizontal: 6rem;