//COLORS
$color-primary: #087CA7;
$color-primary-alt: #235789;
$color-primary-light: #05B2DC;
$color-primary-dark: #094074;
$color-secondary: #D00000;


//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;