@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  80% {
    transform: translateX(10px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes growFromCenter {
  0% {
    opacity: 0;
    transform: scale(0.1); }
  100% {
    opacity: 1;
    transform: scale(1); } }

@keyframes spinIn {
  0% {
    transform: rotate(0deg) scale(0.1); }
  100% {
    transform: rotate(360deg) scale(1);
    opacity: 1; } }

@-webkit-keyframes backgroundMove {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@-moz-keyframes backgroundMove {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes backgroundMove {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

/* Reset CSS for cross-browser compatibility */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /* allows other elements to inherit box-sizing specified in body */
  box-sizing: inherit; }

html {
  /* this makes it a lot easier to calcute rem. 62.5 is 10/16 so our defualt fontsize is relative to user settings. defines what 1 rem is */
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  /* makes it so that padding and width don't add to total size of element. i.e. height and width will now extend to define other parts of the box model */
  box-sizing: border-box; }

body {
  font-family: 'Archivo Narrow', sans-serif;
  font-weight: 400px;
  line-height: 1.7; }

@font-face {
  font-family: hp;
  src: url("../lumos.ttf"); }

.nav {
  position: fixed;
  z-index: 2;
  top: 0;
  height: 8rem;
  width: 100%;
  color: #ED9415; }
  .nav__logo-box {
    position: relative;
    top: .5rem;
    left: 2rem;
    height: 7rem;
    width: 7rem;
    border-radius: 100%;
    background: #2d50a3;
    display: inline-block; }
  .nav__logo {
    height: 5rem;
    position: absolute;
    top: 1rem;
    left: 1.4rem;
    z-index: 2; }
  .nav__logo-wrap {
    height: 4.7rem;
    width: 3.9rem;
    background-image: linear-gradient(to left, #ED9415, #693AA8);
    position: absolute;
    z-index: 0;
    top: 1rem;
    left: 1.5rem; }
  .nav__links, .nav:link, .nav:visited {
    text-decoration: none;
    color: inherit; }
  .nav ul {
    position: absolute;
    right: 2rem;
    font-size: 2.6rem;
    top: 50%;
    transform: translate(0, -50%); }
    .nav ul li {
      display: inline; }
      .nav ul li:hover {
        top: 40%;
        text-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.6);
        color: white; }
      .nav ul li:not(:last-child) {
        padding: 0 1rem;
        border-right: solid white 2px; }
      .nav ul li:last-child {
        margin-left: 1rem; }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 52rem; }
  .card__side {
    height: 52rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .card__side--front {
      background-color: white; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #1282A2, #1282A2); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, blue, cyan); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, purple, violet); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, #1282A2, #1282A2), url("../images/seatswap-demo.png");
      background-position-x: 40%; }
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, blue, cyan); }
    .card__picture--3 {
      background-image: url("../images/bamazon-demo.gif"); }
    .card__picture--4 {
      background-image: linear-gradient(to right bottom, #1282A2, #1282A2), url("../images/demo.gif"); }
    .card__picture--5 {
      background-image: url("../images/hq-demo.png"); }
    .card__picture--6 {
      background-image: linear-gradient(to right bottom, blue, cyan); }
  .card__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    color: white;
    text-align: right;
    position: absolute;
    top: 12rem;
    right: 3rem;
    width: 45%; }
  .card__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    padding: 1rem 1.5rem; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(5, 81, 151, 0.85), rgba(18, 130, 162, 0.85)); }
    .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, rgba(0, 0, 255, 0.85), rgba(0, 255, 255, 0.85)); }
    .card__heading-span--3 {
      background-image: linear-gradient(to right bottom, rgba(128, 0, 128, 0.85), rgba(238, 130, 238, 0.85)); }
  .card__details {
    padding: 2rem; }
    .card__details--stack {
      text-align: center;
      font-size: 3rem; }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card__details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #c8c8c8; }
  .card__readme {
    width: 90%;
    text-align: center;
    color: white;
    padding: 1rem;
    font-size: 1.5rem; }

.about {
  height: 200vh;
  width: 100vw;
  background-image: linear-gradient(to bottom left, #541BA1, #ED9415);
  background-size: cover;
  transform: skewY(5deg);
  margin-top: -5rem;
  position: relative; }
  .about > * {
    transform: skewY(-5deg); }
  .about__heading-main {
    font-size: 7rem;
    text-align: center;
    color: white;
    letter-spacing: 4rem;
    text-transform: uppercase;
    transform: translateY(2rem) skewY(-5deg);
    z-index: 4; }
  .about__heading-sub--1 {
    font-size: 4rem;
    text-align: center;
    color: white;
    letter-spacing: 1.5rem;
    text-transform: uppercase;
    margin-top: 5rem; }
  .about__heading-sub--2 {
    font-size: 4rem;
    text-align: center;
    color: white;
    letter-spacing: 1.8rem;
    text-transform: uppercase;
    margin-top: 5rem; }
  .about__blrb {
    color: white;
    transform: skewY(-5deg);
    width: 50%;
    font-size: 1.8rem;
    line-height: 1.8;
    margin: 2rem auto;
    line-height: 2.3; }
    .about__blrb p:not(:last-child) {
      margin-bottom: 1rem; }

.footer {
  height: 70vh;
  width: 100vw;
  margin-top: 8rem; }
  .footer__logo-box {
    text-align: center;
    margin-top: 8rem;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    height: 20rem;
    width: 20rem;
    border-radius: 100%;
    background: #2d50a3; }
  .footer__logo {
    width: 10rem;
    height: auto;
    position: relative;
    z-index: 1;
    top: 20%; }
  .footer__logo-wrap {
    height: 60%;
    width: 48%;
    background-image: linear-gradient(to left, #ED9415, #693AA8);
    position: absolute;
    z-index: 0;
    top: 4rem;
    left: 26%; }
  .footer__heading--main {
    text-transform: uppercase;
    font-size: 3rem;
    text-align: center;
    letter-spacing: .8rem;
    background: linear-gradient(to left, #ED9415, #693AA8);
    -webkit-background-clip: text;
    color: transparent; }
  .footer__heading--sub {
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .5rem;
    background: linear-gradient(to left, #ED9415, #693AA8);
    -webkit-background-clip: text;
    color: transparent;
    margin: 4rem 0; }
  .footer__links {
    margin-top: 3rem; }
    .footer__links-item {
      transition: .2s; }
    .footer__links-item:hover {
      transform: scale(1.2); }
  .footer__email {
    font-size: 1.5rem;
    height: 20rem;
    width: 20rem;
    border-radius: 100%;
    background-image: radial-gradient(#ED9415, #541BA1);
    position: relative; }
    .footer__email-content {
      color: white;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
  .footer__img {
    height: 20rem;
    width: 20rem; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.header {
  background-image: url("../images/sf-fog.gif");
  background-size: cover;
  background-position: top;
  height: 100vh;
  position: relative; }
  .header__heading {
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -20%); }
    .header__heading--main {
      text-transform: uppercase;
      font-size: 7rem;
      background: linear-gradient(to left, #ED9415, #693AA8);
      -webkit-background-clip: text;
      color: transparent;
      letter-spacing: 2.3rem;
      margin-top: 2rem;
      margin-bottom: 5rem;
      animation: growFromCenter 2s ease; }
    .header__heading--sub {
      text-transform: uppercase;
      font-size: 3.8rem;
      background-image: linear-gradient(to left, #ED9415, #693AA8);
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
      letter-spacing: 2.1rem;
      margin-top: 13rem;
      animation: growFromCenter 2s ease;
      animation-delay: .5s;
      opacity: 0;
      animation-fill-mode: forwards; }
  .header__portrait {
    height: 22rem;
    width: 22rem;
    object-fit: cover;
    border-radius: 200px;
    border: solid white 3px;
    background-image: linear-gradient(to top, rgba(84, 27, 161, 0.7), rgba(237, 148, 21, 0.7));
    margin: auto;
    display: block; }
  .header__scroll {
    color: white;
    position: absolute;
    top: 650px;
    left: 50%;
    transform: translate(-50%);
    border: solid white 2px;
    border-radius: 30px;
    padding: 12px 5px 5px 5px;
    font-size: 26px;
    width: 55px;
    height: 55px;
    text-align: center; }
    .header__scroll:hover {
      background: linear-gradient(to bottom, #ED9415, #693AA8);
      color: black; }

.transition {
  height: 15rem;
  background-image: linear-gradient(to bottom, #1a6dbb, white);
  margin-top: -8rem; }

.portfolio {
  position: relative;
  height: 200vh;
  width: 100%; }
  .portfolio__heading {
    display: inline-block;
    font-size: 5rem;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 3rem;
    background-image: linear-gradient(to left, #ED9415, #541BA1);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 2rem;
    text-transform: uppercase;
    text-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
    position: relative;
    left: 50%;
    transform: translateX(-50%); }
