.about {
  height: 200vh;
  width: 100vw;
  background-image: linear-gradient(to bottom left, $color-primary, $color-secondary);

  background-size: cover;
  transform: skewY(5deg);
  margin-top: -5rem;
  position: relative;

  //selects all direct children
  & > * {
    transform: skewY(-5deg);
  }

  &__heading-main {

    font-size: 7rem;
    text-align: center;
    color: white;
    letter-spacing: 4rem;
    text-transform: uppercase;
    transform: translateY(2rem) skewY(-5deg);
    z-index: 4;

  }

  &__heading-sub {

    &--1 {
      font-size: 4rem;
      text-align: center;
      color: white;
      letter-spacing: 1.5rem;
      text-transform: uppercase;
      margin-top: 5rem;
    }

    &--2 {
      font-size: 4rem;
      text-align: center;
      color: white;
      letter-spacing: 1.8rem;
      text-transform: uppercase;
      margin-top: 5rem;
    }
  }

  &__blrb {
    color: white;
    transform:  skewY(-5deg);
    width: 50%;
    font-size: 1.8rem;
    line-height: 1.8;
    margin: 2rem auto;
     
    p {

      &:not(:last-child) {
        margin-bottom:1rem;
      }

    }
  }


}
