.jumbotron {
  background-image: linear-gradient(to left, rgba($color-secondary, .8), rgba($color-primary, .8));
  border-radius: 1rem;

  &--heading {
    text-align: center;
    color: white;
    font-size: 3.5rem;
    text-transform: uppercase;
    letter-spacing: 1.5rem;
    margin: 1rem 0;

    &-sub {
      text-align: center;
      color: white;
      font-size: 1.8rem;
      text-transform: uppercase;
      letter-spacing: .8rem;
      margin: 1rem 0;
    }
  }

  &__stack {

   
 

    &-container {
      width: 70%;
      margin: auto;
    }

    &--left {
      width: 45%;
      display: inline-block;
    
    }


  
    &--right {
      width: 45%;
      display: inline-block;
    }

    &-details {
      padding: 2rem;
      color: white;
      margin: auto;
      display: block;


  
      &--stack {
        font-size: 3rem;
        text-align: center;
        letter-spacing: .5rem;
        text-transform: uppercase;
        margin-bottom: 1rem;
      }
  
      &--logo {
        height: 5rem;
        width: 5rem;
        transform: translateY(-25%);
        position: absolute;
        left: 0;
        
      }
  
      ul {
        list-style: none;
        width: 80%;
        margin: 0 auto;
  
        li {
          text-align: center;
          font-size: 1.5rem;
          padding: 1.5rem;
          position: relative;
          text-transform: uppercase;
  
          &:not(:last-child) {
            margin-bottom: 2rem;
            border-bottom: 1px solid rgb(200,200,200);
          }
        }
      }
    }
  }


  &-cd {
    padding: 2rem;

    p {
      color: white;
      font-size: 2rem;
      letter-spacing: 1.3px;
      margin-bottom: 2rem;
    }

    a {
      color: $color-link;
      cursor: pointer;
      text-decoration: none;

      &:hover {
        color: rgba($color-primary-dark, 1) ;
      }
    }

    ul {
      margin: 0 0 2rem 2rem;
    }

    li {
      color: white;
      font-size: 2rem;
      letter-spacing: 1.3px;
    }
  }

}